/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/data/*.osm
/data/*.geojson
/data/*.osm.json
/data/*.osm.pbf
/images/*
.ensime
.ensime_cache/*
clipping/*
osmosis/*
.idea
target

derby.log
metastore_db/*
bench/target/
