language: scala

scala:
  - 2.11.12
  - 2.12.7

sbt_args: -J-Xmx6g

sudo: false

# To cache dependencies.
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
